certifi==2021.5.30
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1695554217566/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1696677705766/work
face_alignment @ git+https://github.com/1adrianb/face-alignment@bacd0afb400a46ce4e94bf231624591495d932a2
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1720359064391/work
imageio==2.35.1
importlib_metadata==8.5.0
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1725921340658/work
joblib==1.0.1
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1695380066007/work
lazy_loader==0.4
llvmlite==0.41.1
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1695076736962/work
munkres==1.1.4
networkx==3.1
numba==0.58.1
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1687808433287/work
opencv-python==4.12.0.88
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pandas==1.3.1
pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1719903577696/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1724616129934/work
python-dateutil==2.8.2
pytz==2021.1
PyWavelets==1.4.1
scikit-image==0.21.0
scikit-learn==1.1.3
scipy==1.10.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
threadpoolctl==2.2.0
tifffile==2023.7.10
torch==1.9.0
torchvision==0.10.0
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1717722703965/work
tqdm==4.62.0
typing-extensions==3.10.0.0
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1695848146711/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1731262100163/work
